<div class="show" id="<%= dom_id article %>">
  <p>
    <strong>Moviename:</strong>
    <%= article.moviename %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= article.description %>
  </p>

  <p>
    <strong>Directorname:</strong>
    <%= article.directorName %>
  </p>

  <p>
    <strong>Language:</strong>
    <%= article.language %>
  </p>

</div>
